@use '../base/variables' as vars;

/* experiencia */
.timeline {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-top: 150px;
}

.event {
  text-align: center;
  flex: 1 1 200px;
}

.circle {
  width: 100px;
  height: 100px;
  margin: 0 auto 15px;
  border-radius: vars.$radio-img;
  background: #fff;
  border: 10px solid;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: vars.$radio-img;
}

.verde .circle {
  border-color: vars.$color-borde-verde;
}

.azul .circle {
  border-color: vars.$color-borde-azul;
}

.event p {
  color: vars.$color-texto-secundario;
  font-size: 0.9rem;
}