@use '../base/variables' as vars;

/* proyectos */
.collage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding-top: 30px;
}

.collage article {
  position: relative;
  background-color: vars.$color-card-bg;
  padding: 5px;
  border-radius: 12px;
  box-shadow: vars.$sombra-proyecto;
  overflow: hidden;
}

.collage img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  display: block;
}

.collage .overlay {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background-color: vars.$color-overlay;
  border-radius: 10px;
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity vars.$transicion-general;
  padding: 10px;
  text-align: center;
}

.collage article:hover .overlay {
  opacity: 1;
}