@use '../base/variables' as vars;

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: vars.$color-header-bg;
  padding: vars.$espaciado-general 0;
  box-shadow: vars.$sombra-10px;
  z-index: 10;
  width: 100%;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

header a {
  text-decoration: none;
  color: vars.$color-enlace;
  font-size: 1.2rem;
  transition: color vars.$transicion-general;
}

header a:hover,
header a.active {
  color: vars.$color-enlace-hover;
}